In [0]:
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving nb.xlsx to nb.xlsx

In [0]:
import io

In [0]:
nb_df = pd.read_excel(io.BytesIO(uploaded['nb.xlsx']))

In [7]:
nb_df.head()

    outlook humidity    wind play
0     sunny     high    weak   no
1     sunny     high  strong   no
2  overcast     high    weak  yes
3      rain     high    weak  yes
4      rain   normal    weak  yes

In [0]:
from sklearn  import preprocessing

In [0]:
le = preprocessing.LabelEncoder()

In [0]:
nb_df["Outlook_encode"] = le.fit_transform(nb_df["outlook"])

In [15]:
nb_df.head()

    outlook humidity    wind play  Outlook_encode
0     sunny     high    weak   no               2
1     sunny     high  strong   no               2
2  overcast     high    weak  yes               0
3      rain     high    weak  yes               1
4      rain   normal    weak  yes               1

In [16]:
nb_df["Humidity_encode"] = le.fit_transform(nb_df["humidity"])
nb_df["Wind_encode"] = le.fit_transform(nb_df["wind"])
nb_df["Play_encode"] = le.fit_transform(nb_df["play"])
nb_df.head()

    outlook humidity    wind  ... Humidity_encode  Wind_encode  Play_encode
0     sunny     high    weak  ...               0            1            0
1     sunny     high  strong  ...               0            0            0
2  overcast     high    weak  ...               0            1            1
3      rain     high    weak  ...               0            1            1
4      rain   normal    weak  ...               1            1            1

[5 rows x 8 columns]

In [18]:
nb_df = nb_df.drop(["outlook","humidity","wind","play"],axis=1)
nb_df.head()

   Outlook_encode  Humidity_encode  Wind_encode  Play_encode
0               2                0            1            0
1               2                0            0            0
2               0                0            1            1
3               1                0            1            1
4               1                1            1            1

In [21]:
features = nb_df.drop(["Play_encode"],axis=1)
features.head()

   Outlook_encode  Humidity_encode  Wind_encode
0               2                0            1
1               2                0            0
2               0                0            1
3               1                0            1
4               1                1            1

In [22]:
labels = nb_df.drop(["Outlook_encode","Humidity_encode","Wind_encode"],axis=1)
labels.head()

   Play_encode
0            0
1            0
2            1
3            1
4            1

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, Y_train, Y_test = train_test_split(features, labels, test_size = 0.2, random_state=105)

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
gnb = GaussianNB()

In [28]:
gnb.fit(X_train, Y_train)
Y_pred = gnb.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
from sklearn import metrics

In [35]:
predicted = gnb.predict([[1,1,1]])
print("predicted value :", predicted)

predicted value : [1]